* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

/* Using vw will create a horizontal scroll when vertical content exceeds the
   view of the page. Using % instead*/
/* body {
  width: 100vw;
} */

body {
  min-height: 100vh;
}

main {
  color: brown;
  width: 50vw;
  background-color: skyblue;
}

/* a {
  color: white;
} */

a:visited {
  color: grey;
}

a:hover,
a:active {
  color: aquamarine;
}

table,
tr,
td,
caption {
  border: 1px solid #eee;
  font-family: "Courier New", 'Courier New', Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}

/* p {
  color: purple;
} */

/* body {
  font-size: 16px;
} */


h1 {
  color: gold;
  border: 2px dashed blue;
  font-size: 3rem;
  padding: 0.5rem;
  width: 50%;
}

.legend-form {
  color: blue;
}
