:root {
  --BLUE: #B7E0FF;
  --YELLOW: #FFF5CD;
  --PEACH: #FFCFB3;
  --RED: #E78F81;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  color: var(--PEACH);
}

a:visited {
  color: black;
}

a:hover,
a:active {
  color: var(--YELLOW);
}

table,
tr,
td,
caption {
  border: 1px solid #eee;
  font-family: "Courier New", 'Courier New', Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}



h1 {
  color: gold;
  border: 2px dashed blue;
  font-size: 3rem;
  padding: 0.5rem;
}

h3 {
  margin-bottom: 0;
}

.legend-form {
  color: blue;
}

#present_tasks {
  position: relative;
}

#intro_cat {
  display: block;
  width: 25%;
  margin: auto;
}

.div-circle {
  text-align: center;
}

.circle {

  margin: 3rem auto;
  background-color: gold;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 25px;
  outline: 2px solid red;
  outline-offset: 0.25rem;
  padding-top: 0.4rem;

}

ol {
  margin-top: 0.5rem;
  list-style-type: lower-alpha;
}

ul.intro_nav {
  list-style-type: none;
  padding-left: 0.5rem;
  text-align: center;
  background-color: var(--BLUE);
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.intro_nav li {
  display: inline-block;
  margin-inline: 0.5rem;
}

li a {
  color: var(--RED);
  text-decoration: none;
}

li a:hover,
li a:focus {
  text-decoration: underline;
}

ul li:nth-child(even) {
  color: red;
}

.block {
  width: 15vw;
  height: 15vw;
  background-color: #000;
  color: #fff;
  padding: 1rem;
}

.left {
  float: left;
  margin-right: 1rem;
}
.right {
  float: right;
  margin-left: 1rem;
}

.clear {
  clear: both;
}

section {
  background-color: white;
  border: 1px solid #333;
  padding : 1rem;
  display: flow-root;
}

.columns {
  columns: 2 250px;
  column-rule: 3px solid #333;
  column-gap: 3rem;
}

.columns p {
  margin-bottom: 1rem;
}

.columns h2 {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  break-inside: avoid;
}