* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

/* Using vw will create a horizontal scroll when vertical content exceeds the
   view of the page. Using % instead*/
/* body {
  width: 100vw;
} */

body {
  min-height: 100vh;
}

main {
  color: brown;
  background-color: skyblue;
}

/* a {
  color: white;
} */

a:visited {
  color: grey;
}

a:hover,
a:active {
  color: aquamarine;
}

table,
tr,
td,
caption {
  border: 1px solid #eee;
  font-family: "Courier New", 'Courier New', Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}

/* p {
  color: purple;
} */

/* body {
  font-size: 16px;
} */


h1 {
  color: gold;
  border: 2px dashed blue;
  font-size: 3rem;
  padding: 0.5rem;
}

.legend-form {
  color: blue;
}

#intro_cat {
  display: block;
  width: 25%;
  margin: auto;
}

.circle {
  margin: 3rem auto;
  background-color: gold;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 25px;
  outline: 2px solid red;
  outline-offset: 0.25rem;
}